@font-face {
  font-family: 'Brown Sugar';
  src: url('fonts/brown-sugar.ttf') format('ttf');
}

:root{
  --text-color: #000;
  --link-color: #449DD1;
  --background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

nav .left h1 {
  color: var(--text-color);
  font-family: 'Brown Sugar', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav .right a {
  color: var(--text-color);
  font-size: 20px;
  margin: 0 20px;
}

nav .right a:hover {
  color: var(--link-color);
}

nav .right select {
  display: none;
}

/* SECTION 1: Intro */
.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 20px 0;
  margin-bottom: 100px;
  gap: 60px;
}

.intro-section .text {
  flex: 5;
}

.intro-section .text h1 {
  font-family: "Merriweather", sans;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  justify-self: center;
}

.intro-section .text p {
  font-size: 18px;
  max-width: 650px;
  text-align: center;
  margin-top: 18px;
  margin: 18px auto 0;
}

.intro-section .text .highlight {
  color: #5EA0FD;
}

.intro-section .text h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section .text i {
  font-size: 29px;
  display: inline-flex;
}

.intro-section .text .links {
  margin-top: 18px;
  justify-self: center;
}

.intro-section .text .links a {
  color: #fff;
  background-color: #5EA0FD;
  font-size: 18px;
  border-radius: 10px;
  padding: 7px 20px;
  letter-spacing: 1.8px;
  text-decoration: none;
}

.intro-section .portrait {
  flex: 2;
  display: flex;
  justify-content: right;
}

.intro-section .portrait img {
  width: 525px;
}

@media (max-width: 850px) {
  /* SECTION 1: INTRO */
  .intro-section {
    flex-direction: column-reverse;
  }

  .intro-section .portrait img {
    width: 300px;
  }

}

@media (max-width: 740px) {

  /* SECTION 1: INTRO */
  .intro-section .text h1 {
    font-size: 34px;
  }
}

@media (max-width: 680px) {
  /* NAVBAR */
  nav {
    padding: 0 20px;
  }

  nav .right select {
    display: block;
  }

  nav .right a {
    display: none;
  }

  /* SECTION 1: INTRO */
  .intro-section {
    padding: 0 20px;
  }

  .intro-section .text h1 {
    font-size: 28px;
  }
}
