@font-face {
  font-family: 'Brown Sugar';
  src: url('fonts/brown-sugar.ttf') format('ttf');
}

:root{
  --text-color: #000;
  --header-color: #5EA0FD;
  --link-color: #449DD1;
  --background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--background-color);
  /* if you want navbar to ALWAYS stay on screen, then you must add padding */
  padding-top: 80px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  /* this lets the navbar disappear when scrolling down */
  /* position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px; */

  /* this lets the navbar ALWAYS stay on screen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;

  background-color: var(--background-color);
}

nav .left h1 {
  color: var(--text-color);
  font-family: 'Brown Sugar', sans-serif;
  font-size: 20px;
  font-style: normal;
  /* Option 1: */
  font-weight: 400;

  /* Option 2: */
  /* font-weight: 600;
  letter-spacing: 1px; */
  line-height: normal;
}

nav .right a {
  color: var(--text-color);
  font-size: 20px;
  margin: 0 20px;
}

nav .right a:hover {
  color: var(--link-color);
}

nav .right select {
  display: none;
}

/* SECTION 1: Intro */
.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 20px 0;
  margin-bottom: 100px;
  gap: 60px;
}

.intro-section .text {
  flex: 5;
}

.intro-section .text h1 {
  font-family: "Merriweather", sans;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  justify-self: center;
}

.intro-section .text p {
  font-size: 18px;
  max-width: 650px;
  text-align: center;
  margin-top: 18px;
  margin: 18px auto 0;
}

.intro-section .text .highlight {
  color: var(--header-color);
}

.intro-section .text h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section .text i {
  font-size: 29px;
  display: inline-flex;
}

.intro-section .text .links {
  margin-top: 18px;
  justify-self: center;
}

.intro-section .text .links a {
  color: #fff;
  background-color: var(--header-color);
  font-size: 18px;
  border-radius: 10px;
  padding: 7px 20px;
  letter-spacing: 1.8px;
  text-decoration: none;
}

.intro-section .portrait {
  flex: 2;
  display: flex;
  position: relative;
  justify-content: right;
}

.intro-section .portrait img {
  width: 525px;
}

/* SECTION 2: Featured Work */

.work-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.work-section .text h3 {
  color: var(--header-color);
  font-family: "Merriweather", sans;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.work-section .text h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.work-section .cells {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.work-section .cells .cell {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 340px;
  height: 580px;
  padding: 20px;
  border: 4px solid var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px;
  gap: 5px;

  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23449DD1" viewBox="0 0 512 512"><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg>') 8 8, pointer;
}

.work-section .cells .cell .showcase {
  /* other color options */
  /* background-color: #f2ede0; */
  /* background-color: #f9f6f1; */

  background-color: #f5f2eb;
  width: 297px;
  height: 337px;
  border-radius: 3px;
  /* allows to move phone mockup */
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-section .cells .cell .showcase img {
  width: 117px;
}

.work-section .cells .cell .text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 297px;
  gap: 5px;
}

.work-section .cells .cell .text h4 {
  font-size: 18px;
  font-weight: bold;
}

.work-section .cells .cell .text p {
  font-size: 16px;
}

.work-section .cells .cell .tags {
  display: flex;
  gap: 5px;
}

.work-section .cells .cell .tag {
  background-color: var(--header-color);
  border-radius: 10px;
  padding: 3px 5px;
  margin-bottom: 5px;
}


.work-section .cells .cell .text .tags p {
  color: var(--background-color);
  font-family: "Merriweather", sans;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

/* SECTION 3: SKILLS */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section .text h3 {
  color: var(--header-color);
  font-family: "Merriweather", sans;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.skills-section .text h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.skills-section .display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skills-section .display .language-card {
  border: 3px solid var(--text-color);
  /* border: 3px solid var(--header-color); */
  padding: 20px;
  text-align: center;
}

/* Remove left border from first item in each row */
.skills-section .display .language-card:nth-child(4n+1) {
  border-left: none;
}

/* Remove right border from last item in each row */
.skills-section .display .language-card:nth-child(4n) {
  border-right: none;
}

/* Remove top border from first row & second row */
.skills-section .display .language-card:nth-child(-n+8) {
  border-bottom: none;
  border-right: none;
}

/* Remove top border from third row */
.skills-section .display .language-card:nth-child(-n+12) {
  border-right: none;
}

.skills-section .display .language {
  width: 110px;
  height: 110px;
  background-color: var(--text-color);
  border: 3px solid var(--header-color);
  border-radius: 100%;
  padding: 20px;
  margin: 10px 95px 10px 95px;
}

.skills-section .display .language img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skills-section .display .language-card p {
  font-size: 18px;
  color: var(--text-color);
}

/* SECTION 4: WORK */
.experience-section {
  padding: 0 50px;
  margin-bottom: 100px;
  position: relative;

  /* background-color: wheat; */
}

.experience-section .text h3 {
  color: var(--header-color);
  font-family: "Merriweather", sans;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.experience-section .text h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.experience-section .dots-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 400px;
  background-image: url('/images/DottedGrid.png');
  background-size: contain;
  opacity: 100%;
  z-index: 0;

  /* background-color: violet; */
}

.experience-section .dots-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 400px;
  height: 400px;
  background-image: url('/images/DottedGrid.png');
  background-size: contain;
  opacity: 100%;
  z-index: 0;

  /* background-color: violet; */
}

.experience-section .experience-cards {
  position: relative;
  z-index: 1;
  margin: 0px 160px;

  /* background-color: #2092e9; */
}

.experience-section .experience-cards .experience-card {
  border: 3px solid var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  margin: 50px 0px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  background-color: var(--background-color);
}

.experience-section .experience-cards .experience-card h3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 28px;
  font-weight: bold;

  /* background-color: lightcoral; */
}

.experience-section .experience-cards .experience-card h3 .date {
  font-size: 18px;
  font-weight: normal;
  color: var(--header-color);
  white-space: nowrap; /* Prevents date from breaking */

  /* background-color: lightpink; */
}

.experience-section .experience-cards .experience-card h4 {
  font-size: 18px;
  color: var(--header-color);

  /* background-color: lightgreen; */
}

.experience-section .experience-cards .experience-card p {
  font-size: 18px;

  /* background-color: lightgoldenrodyellow; */
}

.experience-section .experience-cards .experience-card .tags {
  display: flex;
  gap: 8px;

  /* background-color: lightgray; */
}

.experience-section .experience-cards .experience-card .tags .tag {
  background-color: var(--header-color);
  border-radius: 10px;
  padding: 3px 8px;
  color: var(--background-color);
  font-family: "Merriweather", sans;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;

  /* background-color: lightblue; */
}

/* SECTION 5: ABOUT ME */
.about-section {
  padding: 0 50px;
  margin-bottom: 100px;

  /* background-color: #F9DEC9; */
}

.about-section .text h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.about-section .text h3 {
  color: var(--header-color);
  font-family: "Merriweather", sans;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.about-section .cells {
  display: flex;
  align-items: stretch;
  justify-content: center;
  /* gap: 30px; */

  /* background-color: #685044; */
}

.about-section .cells .cell {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  padding: 40px;
  /* gap: 20px; */

  /* background-color: #50A2A7; */
}


.about-section #about-me h4 {
  font-family: "Merriweather", sans;
  font-style: italic;
  font-size: 28px;

  /* background-color: #FC9F5B; */
}

.about-section #about-me p {
  font-size: 18px;
  font-weight: regular;
  margin-top: 20px;
  /* margin-bottom: 20px; */

  /* background-color: #ECE4B7; */
}


.about-section .cells .cell .hobbie-cards {
  border: 3px solid var(--text-color);
  border-radius: 10px;
  ;
  padding: 20px;
  /* margin-top: 20px; */

  /* background-color: #D3DFB8; */
}

.about-section .cells .cell .hobbie-cards:first-of-type {
  margin-top: 20px;

  /* background-color: #9B2915; */
}

.about-section #hobbies h1 {
  font-family: "Merriweather", sans;
  font-style: italic;
  font-size: 28px;

}

.about-section #hobbies h4 {
  font-size: 18px;
  font-weight: bold;

}

.about-section #hobbies p {
  font-size: 18px;
  font-weight: regular;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-section .cells .cell .books img {
  width: 100%;

}

/* RESPONSIVE DESIGN */
@media (max-width: 1145px) {

  /* SECTION 1: INTRO */
  .intro-section .text h1 {
    text-align: center;
  }

}

/* Laptops */
@media (max-width: 1100px) {

  /* SECTION 2: FEAT. WORK */
  .work-section .cells {
    flex-direction: column;
    align-items: center;
  }

   /* SECTION 3: SKILLS */
  /* Reset borders */
  .skills-section .display .language-card {
    border: 3px solid var(--text-color);
    border-top: none;
    border-bottom: none;
  }

  /* First column - no left border (odd numbers: 1, 3, 5...) */
  .skills-section .display .language-card:nth-child(2n+1) {
    border-left: none;
  }

  /* Second column - no right border (even numbers: 2, 4, 6...) */
  .skills-section .display .language-card:nth-child(2n) {
    border-right: none;
  }

  /* SECTION 4: EXPERIENCE*/
    .experience-section .dots-left,
    .experience-section .dots-right {
      width: 300px;
      height: 300px;
    }

    /* SECTION 5: ABOUT */
    .about-section .cells {
      flex-wrap: wrap;  /* Allows items to wrap to next line */
    }

    /* First two cells take 50% each (side by side) */
    #about-me,
    #hobbies {
      flex: 1 1 50%;  /* Each takes half the width */
      min-width: 300px;  /* Prevents them from getting too narrow */
    }

    /* Third cell takes full width (goes underneath) */
    #hobbie-display {
      flex: 1 1 100%;  /* Takes full width, forces to new row */
    }

}

@media (max-width: 930px) {
  /* SECTION 1: INTRO */
  .intro-section .portrait img {
    width: 400px;
  }
}


/* Tablets */
@media (max-width: 850px) {
  /* SECTION 1: INTRO */
  .intro-section {
    flex-direction: column-reverse;
  }

  .intro-section .portrait img {
    width: 300px;
  }

}

    /* SECTION 4: EXPERIENCE*/
  /* .experience-section .dots-left {
    width: 250px;
    height: 250px;
  }

  .experience-section .dots-right {
    width: 250px;
    height: 250px;
  } */

/* Large Phones */
@media (max-width: 740px) {

  /* SECTION 1: INTRO */
  .intro-section .text h1 {
    font-size: 34px;
  }
}

/* Phones */
@media (max-width: 680px) {
  /* NAVBAR */
  nav {
    padding: 0 20px;
  }

  nav .right select {
    display: block;
  }

  nav .right a {
    display: none;
  }

  /* SECTION 1: INTRO */
  .intro-section {
    padding: 0 20px;
  }

  .intro-section .text h1 {
    font-size: 28px;
  }

  /* SECTION 2: FEAT. WORK */
  .work-section .text h2 {
    font-size: 28px;
  }
  .work-section .text h3 {
    font-size: 24px;
  }
}
